<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  </br>
      <div class="container">
        <form action="/auth/login" method="post">
          <div>
            <input type="text" name="email" placeholder="Email:" />
          </div>
          <div>
            <input type="password" name="password" placeholder="Password:" />
          </div>
          <div>

          <div class="button-container">
            <input class="waves-effect waves-light btn-large indigo darken-1" type="submit" value="Log In"/>
          </div>
          </br>
          </div>
        </form>
      </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
