<!DOCTYPE html>
<html>
  <head>
    <title>UNDER $10</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
      <h1>UNDER $10</h1>
    </header>
    <main>
      <div class="container">
        <form action="/auth/register" method="post">
          <div>
            <label>First Name:</label>
            <input type="text" name="firstName"/>
          </div>
          <div>
            <label>Last Name:</label>
            <input type="text" name="lastName"/>
          </div>
          <div>
            <label>Email:</label>
            <input type="text" name="email"/>
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password"/>
          </div>
          <div>
            <label>Course:</label>
            <input type="text" name="course"/>
          </div>
          <div>
            <input type="submit" value="register"/>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <p>Created by Cresta, Emeka, and Jennifer</p>
    </footer>
  </body>
</html>


