<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  </br>
    <main>
      <div class="container">
        <form action="/auth/register" method="post">
          <div>
            <input type="text" name="first_name" placeholder="First Name:" />
          </div>
          <div>
            <input type="text" name="last_name" placeholder="Last Name:" />
          </div>
          <div>
            <input type="text" name="email" placeholder="Email:" />
          </div>
          <div>
            <input type="password" name="password" placeholder="Password:" />
          </div>
         <!--  <div>
            <input type="text" name="course" placeholder="Course:" />
          </div> -->
          <div class="button-container">
            <input class="waves-effect waves-light btn-large #3949ab indigo darken-1" type="submit" value="Register"/>
          </div>
          </br>
        </form>
      </div>
    </main>
<% include ../partials/footer.ejs %>
</body>
</html>


