<footer class="page-footer #ffd54f teal lighten-2">
  <div class="footer-copyright teal lighten-2">
    <div class="container">
        Created by Chiemeka Ihebom, Cresta White, and Jennifer Kaplan
        </br>
        © 2017 Copyright
    </div>
  </div>
</footer>
