<footer class="page-footer #ffd54f teal lighten-2">
  <div class="footer-copyright teal lighten-2">
    <div class="container">
        Created by Chiemeka Ihebom, Cresta White, and Jennifer Kaplan
        </br>
        © 2017 Copyright
    </div>
  </div>
</footer>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

