<!DOCTYPE html>
<html>
  <head>
    <title>UNDER $10</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  </head>
  <body>
    <header>
      <h1>UNDER $10</h1>
    </header>
    <main>
      <div class="container">
        <p>Welcome to UNDER $10</p>
        <p><a href="/auth/register">click here to register</a></p>
        <p><a href="/auth/login">click here to log in</a></p>
      </div>
    </main>
    <footer>
      <p>Created by Cresta, Emeka, and Jennifer</p>
    </footer>
  </body>
</html>
