<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body>
  <div class="cont">
    <div class="demo">
      </br>
      <h1>Under$10</h1>
      <button type="button" class="login-submit #ffd54f teal lighten-2">
        <a href="/auth/register" class="#3949ab indigo-text darken-1-text">Register</a>
      </button>
      <button type="button" class="login-submit #ffd54f teal lighten-2">
        <a href="/auth/login" class="#3949ab indigo-text darken-1-text">Login</a>
      </button>
    </div>
  </div>
  </body>
</html>
