<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
   <body>
   <div class="cont">
   <div class="demo" >
   <h1>Under$10</h1>
   <!-- <div class="login"> -->
   <!-- <div class="login__form"> -->
  <!-- <div class="login__row"> -->
   <!--  <input type="text" class="login__input name" placeholder="Username"/>
        </div>
        <div class="login__row">
   <input type="password" class="login__input pass" placeholder="Password"/>
        </div> -->
        <button type="button" class="login__submit #ffd54f teal lighten-2">
         <a href="/auth/register" class="#3949ab indigo-text darken-1-text">Register</a></button>
         <button type="button" class="login__submit #ffd54f teal lighten-2">
         <a href="/auth/login" class="#3949ab indigo-text darken-1-text">Login</a></button>
         <!-- above button changed from login to register for shortened mvp -->
        <!-- <button type="button" class="login__register">
        <a href="/auth/register">Register</a></button> -->
       <!-- </div> -->
    <!-- </div> -->
    </div>
    </div>


   <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
