<% include ./partials/head.ejs %>
  <body>
  <div class="cont">
    <div class="demo">
      </br>
      <h1>Under$10</h1>
        <a href="/auth/register" class="btn login-submit">Register</a>
        <a href="/auth/login" class="btn login-submit">Login</a>
    </div>
  </div>
</body>
</html>
