<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body>
  <div class="cont">
    <div class="demo">
      </br>
      <h1>Under$10</h1>
        <a href="/auth/register" class="btn waves-effect waves-light login-submit">Register</a>
        <a href="/auth/login" class="btn waves-effect waves-light login-submit">Login</a>
    </div>
  </div>
  </body>
</html>
