html, body{
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 1rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: 'Lobster' ,cursive;
  text-align: center;
  color: #4DB6AC;
  font-size:86px;
  letter-spacing: 6px;
}

input, button {
  outline: none;
  border: none;
}

.card-action form {
  display: inline-block;
}

.card-action input[type=submit] {
  -webkit-appearance: none;
  background-color: #3949ab;
  border: none;
  color: white;
  margin-right: 2em;
  text-transform: uppercase;
}

.cont {
 position: relative;
 height: 100%;
 background-image: url("../images/hands.jpg");
 background-size: cover;
 overflow: auto;
}

.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -22.5rem;
  width: 30rem;
  /*height: 53rem;*/
  overflow: hidden;
}

.login {
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0,0,0,0.6) 100%);
  transition: opacity 0.1;
  transform: scale(1);
}

.login__form {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 1.5rem 2.5rem;
  text-align: center;
}

.login-submit {
  position: relative;
  width: 100%;
  height: 4rem;
  margin: 5rem 0 2.2rem;
  color: #3949ab indigo-text darken-1-text;
  background: #ffd54f amber lighten-2;
  font-size: 1.5rem;
  border-radius: 3rem;
}

.card-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.button-container {
  text-align: center;
}

main {
  flex: 1;
}

.container {
  flex: 1;
}

footer {
  text-align: center;
}

