<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
   <div class="row">
      <form class="col s12" action="/meals" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <input name="amount" type="text" class="validate" placeholder="Price">
          </div>
          <div class="input-field col s6">
            <input name="meal_name" type="text" class="validate" placeholder="Meal">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="restaurant_name" type="text" class="validate" placeholder="Restaurant">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="location" type="text" class="validate" placeholder="Location">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="review" type="text" class="validate" placeholder="Review">
          </div>
        </div>


        <div>
          <input class="waves-effect waves-light btn-large indigo darken-1" type="submit" value="add meal"/>
        </div>
        </br>
      </form>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>
